.jumbotron {
  background-color: #e2edff;
  padding-top: 10rem;
}

#about {
  padding-top: 10rem;
}

#projects {
  background-color: #e2edff;
  padding-top: 10rem;
}

#contact {
  padding-top: 10rem;
}
